<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
   
    <link rel ="stylesheet" href="/style.css">
</head>
<body>
    <div class="form-container">
        <div class="card-middle">
            <div class="card-body">
                <h1 id="quote">Login Quote</h1>
                <form action="/login" method="post">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLl5RFBWd70u8xNBu3mBTfHBq-Y1TzCuXJ5w&s" class="img-fluid mb-3" alt="Placeholder image" width="150">
                    <div class= "form-goup">
                    <label for ="ref_num">Reference Number: </label>
                    <input type="text" name="ref_num" id="ref_num" placeholder="Reference Number" required autocomplete="off"> </input>
                    </div>
    
                               <div class="form-group">
                                <label for="name">Sale Person:</label>
                                <select id="name" name="name" required>
                                    <option value="" disabled selected>Select a Sale Person</option>
                                    <% salesPersons.forEach(person => { %>
                                        <option value="<%= person.Name %>"><%= person.Name%></option>
                                    <% }); %>
                                </select>
                            </div>
       
                        <button type="submit" class="submit-btn">Login</button>
                        <p> Make a new Quate! <a href="/signup">signup</a></p>
                        </form>
            </div>
        </div>
          </div>
</body>
</html>
